<% address_id = address_type.chars.first %>

<div class="inner">
  <p class="form-group" id=<%="#{address_id}firstname" %>>
    <%= label_tag :firstname do %>
      <%= Spree.t(:first_name) %><abbr class="required" title="required">*</abbr>
    <% end %>
    <%= text_field_tag "child_orders[#{count}][ship_address_attributes][firstname]",address.firstname, :class => 'form-control required' %>
  </p>
  <p class="form-group" id=<%="#{address_id}lastname" %>>
    <%= label_tag :lastname do %>
      <%= Spree.t(:last_name) %><abbr class="required" title="required">*</abbr>
    <% end %>
    <%= text_field_tag "child_orders[#{count}][ship_address_attributes][lastname]", address.lastname, :class => 'form-control required' %>
  </p>
  <% if Spree::Config[:company] %>
    <p class="form-group" id=<%="#{address_id}company" %>>
      <%= label_tag :company, Spree.t(:company) %>
      <%= text_field_tag "child_orders[#{count}][ship_address_attributes][company]",address.company, :class => 'form-control' %>
    </p>
  <% end %>
  <p class="form-group" id=<%="#{address_id}address1" %>>
    <%= label_tag :address1 do %>
      <%= Spree.t(:street_address) %><abbr class="required" title="required">*</abbr>
    <% end %>
    <%= text_field_tag "child_orders[#{count}][ship_address_attributes][address1]", address.address1, :class => 'form-control  required' %>
  </p>
  <p class="form-group" id=<%="#{address_id}address2" %>>
    <%= label_tag :address2, Spree.t(:street_address_2) %>
    <%= text_field_tag "child_orders[#{count}][ship_address_attributes][address2]", address.address2, :class => 'form-control' %>
  </p>
  <p class="form-group" id=<%="#{address_id}city" %>>
    <%= label_tag :city do %>
      <%= Spree.t(:city) %><abbr class="required" title="required">*</abbr>
    <% end %>
    <%= text_field_tag "child_orders[#{count}][ship_address_attributes][city]", address.city, :class => 'form-control required' %>
  </p>
 <!--  <p class="form-group" id=<%="#{address_id}country" %>>
    <%= label_tag :country_id do %>
      <%= Spree.t(:country) %><abbr class="required" title="required">*</abbr>
    <% end %>
    <span id=<%="#{address_id}country-selection" %>>
     <%= form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'form-control required'} %>
    </span>
  </p> -->

  <p class="form-group" id=<%="#{address_id}country" %>>
    <%= form.label :country_id do %>
      <%= Spree.t(:country) %><abbr class="required" title="required">*</abbr>
    <% end %>
    <span id=<%="#{address_id}country-selection" %>>
      <%= form.collection_select :country_id, available_countries, :id, :name, {prompt: "select"}, {prompt: "select", name: "child_orders[#{count}][ship_address_attributes][country_id]",:class => 'form-control required recipient_country'} %>
    </span>
  </p>

  <p class="form-group" id=<%="#{address_id}state" %>>
    <%= label_tag :state_id do %>
      <%= Spree.t(:state) %><abbr class=“required” title=“required”>*</abbr>
    <% end %>
    <span>
      <%= form.collection_select :state_id, [], :id, :name, {prompt: "select"}, {prompt: "select", :class => "form-control required prefill-state", name:"child_orders[#{count}][ship_address_attributes][state_id]"} %>
    </span>
  </p>
  <p class="form-group" id=<%="#{address_id}zipcode" %>>
    <%= label_tag :zipcode do %>
      <%= Spree.t(:zip) %><% if address.require_zipcode? %><abbr class="required" title="required">*</abbr><% end %>
    <% end %>
    <%= text_field_tag "child_orders[#{count}][ship_address_attributes][zipcode]", address.zipcode, :class => "form-control #{'required' if address.require_zipcode?}" %>
  </p>
  <p class="form-group" id=<%="#{address_id}phone" %>>
    <%= label_tag :phone do %>
      <%= Spree.t(:phone) %><% if address.require_phone? %><abbr class="required" title="required">*</abbr><% end %>
    <% end %>
    <%= phone_field_tag "child_orders[#{count}][ship_address_attributes][phone]", address.phone, :class => "form-control #{'required' if address.require_phone?}" %>
  </p>
  <% if Spree::Config[:alternative_shipping_phone] %>
    <p class="form-group" id=<%="#{address_id}altphone" %>>
      <%= label_tag :alternative_phone, Spree.t(:alternative_phone) %>
      <%= phone_field_tag "child_orders[#{count}][ship_address_attributes][alternative_phone]", address.alternative_phone, :class => 'form-control' %>
    </p>
  <% end %>
</div>
